.aside {
  width: 280px;
  height: 100vh;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 45px;
  justify-content: space-between;
  column-gap: 10px;
  padding: 10px;
}

/* TODO сделать многоточие в дереве */
.el-tree {
  text-align: left;
  border: none;
}
.el-tree-node__label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
